@model Academy.Domain.ViewModels.Courses.CreateCourseViewModel
@{
    ViewData["Title"] = "افزودن دوره جدید";
}

@section Scripts
{

    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#GroupId").change(function () {
            $("#SubGroup").empty();
            $.getJSON("/Admin/GetSubGroupId/" + $("#GroupId :selected").val(),
                function (data) {

                    $.each(data,
                        function () {
                            $("#SubGroup").append('<option value=' + this.value + '>' + this.text + '</option>');
                        });
                });
        });

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#CourseImgName').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#CourseImageName").change(function () {
            readURL(this);
        });
    </script>
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

    <script>

        CKEDITOR.replace('CourseDescription', {
            customConfig: '/lib/js/Config.js'
        });

    </script>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">خانه</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <form asp-area="Admin" asp-controller="Courses" asp-action="Create" class="form-horizontal" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="CourseTitle"></label>
                                    <input asp-for="CourseTitle" class="form-control">
                                </div>
                                <span asp-validation-for="CourseTitle" class="text-danger"></span>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="CoursePrice" class="col-sm-2 col-md-6 control-label"></label>
                                    <input asp-for="CoursePrice" class="form-control">
                                </div>
                                <span asp-validation-for="CoursePrice" class="text-danger"></span>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="GroupId" class="col-sm-2 col-md-6 control-label"></label>
                                    <select class="form-control" asp-for="GroupId" asp-items="@(ViewData["Groups"] as SelectList)"></select>
                                </div>
                                <span asp-validation-for="GroupId" class="text-danger"></span>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="SubGroup" class="col-sm-2 col-md-6 control-label"></label>
                                    <select class="form-control" asp-for="SubGroup" asp-items="@(ViewData["SubGroups"] as SelectList)"></select>
                                </div>
                                <span asp-validation-for="SubGroup" class="text-danger"></span>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="TeacherId" class="col-sm-2 col-md-6 control-label"></label>
                                    <select class="form-control" asp-for="TeacherId" asp-items="@(ViewData["TeacherId"] as SelectList)"></select>
                                </div>
                                <span asp-validation-for="TeacherId" class="text-danger"></span>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="LevelId" class="col-sm-2 col-md-6 control-label"></label>
                                    <select class="form-control" asp-for="LevelId" asp-items="@(ViewData["LevelId"] as SelectList)"></select>
                                </div>
                                <span asp-validation-for="LevelId" class="text-danger"></span>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label asp-for="StatusId" class="col-sm-2 col-md-6 control-label"></label>
                                    <select class="form-control" asp-for="StatusId" asp-items="@(ViewData["StatusId"] as SelectList)"></select>
                                </div>
                                <span asp-validation-for="StatusId" class="text-danger"></span>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label asp-for="Tags" class="col-sm-2 col-md-6 control-label"></label>

                                    <input class="form-control" asp-for="Tags" placeholder="تگ اول-تگ دوم-تگ سوم" />
                                    <p class="text text-danger">*کلمات را با - جدا کنید</p>
                                </div>
                                <span asp-validation-for="Tags" class="text-danger"></span>
                            </div>


                            <div class="col-sm-12 col-md-12">
                                <img id="CourseImgName" class="img-thumbnail" style="max-height:100%; max-width:100%;" src="/images/Default/Investasi-bitcoin.jpg" />
                                <div class="form-group">
                                    <label asp-for="CourseImageName" class="col-sm-2 control-label">تصویر دوره *</label>
                                    <input asp-for="CourseImageName" class="form-control">
                                </div>
                                <span asp-validation-for="CourseImageName" class="text-danger"></span>
                            </div>

                            <div class="col-sm-12 col-md-12">

                                <div class="form-group">
                                    <label asp-for="DemoFileName" class="col-sm-2 control-label">دموی دوره *</label>
                                    <input asp-for="DemoFileName" class="form-control">
                                </div>
                                <span asp-validation-for="DemoFileName" class="text-danger"></span>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label asp-for="ShortDescription" class="col-sm-2 control-label"></label>
                                    <textarea asp-for="ShortDescription" class="form-control"></textarea>
                                </div>
                                <span asp-validation-for="ShortDescription" class="text-danger"></span>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label asp-for="CourseDescription" class="col-sm-2 control-label"></label>
                                    <textarea asp-for="CourseDescription" rows="10"></textarea>
                                </div>
                                <span asp-validation-for="CourseDescription" class="text-danger"></span>
                            </div>


                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-md-12">

                            <button type="submit" class="btn btn-info btn-block">ثبت اطلاعات</button>

                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
