@model Academy.Domain.ViewModels.Account.CreateUserViewModel
@using Academy.Domain.Entities.Account;
@{
    ViewData["Title"] = "افزودن کاربر جدید";

    List<Role> roles = ViewData["Roles"] as List<Role>;
}
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">خانه</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <form asp-area="Admin" asp-controller="Users" asp-action="Create" class="form-horizontal" >
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control">
                                </div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="UserName" class="col-sm-2 control-label"></label>
                                    <input asp-for="UserName" class="form-control">
                                </div>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Password" class="col-sm-2 control-label"></label>
                                    <input asp-for="Password" class="form-control">
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label  class="col-sm-2 control-label">تلفن </label>
                                    <input asp-for="PhoneNumber" class="form-control">
                                </div>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">انتخاب نقش کاربر</label>
                                    <div class="col-sm-offset-2 col-sm-10 col-md-4" >
                                        @foreach (var item in roles)
                                        {
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" name="SelectedRoles"   value="@item.Id">
                                                <label class="form-check-label">@item.RoleTitle</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-md-12">

                            <button type="submit" class="btn btn-info btn-block">ثبت اطلاعات</button>

                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>

